
body {
    margin= 0;
    background-image: url("../img/bk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.redes-container {
    top:0;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content:flex-end;
}
#redes-container ul li {
    
    display: inline-block;
    float: right;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    
}
.logo {
    padding-left: 50;
    max-width:80%;
    max-height: 100;
    align-items: center;
    margin-left: auto;
    align-items: center;
    image-orientation: center;
    position: relative;
}
